<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="create-module" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateModuleCommand</item>
                <item name="create-configuration-file" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateConfigurationFileCommand</item>
                <item name="create-controller" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateControllerCommand</item>
                <item name="create-route" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateRouteCommand</item>
                <item name="create-plugin" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreatePluginCommand</item>
                <item name="create-crud" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateModelsCommand</item>
                <item name="create-layout-handle" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateLayoutHandleCommand</item>
                <item name="create-route-full" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateRouteFullCommand</item>
                <item name="create-observer" xsi:type="object">Mistlanto\ModuleManager\Console\Command\CreateObserverCommand</item>
            </argument>
        </arguments>
    </type>
</config>
